button {
  background-color: hsl(266, 36%, 75%);
  border: 1px solid hsl(266, 36%, 75%);
  border-radius: 2.5rem;
  color: hsl(266, 36%, 95%);
  height: 45px;
  letter-spacing: .8px;
  width: 180px;
}
