.wrapper {
  display: flex;
  flex-direction: column;
}

.heading {
  border-bottom: .1rem solid var(--grey);
  margin-bottom: 6rem;
}

.container {
  margin-bottom: 4rem;
}

.about-me {
  display: flex;
}

.about-me,
.about-me-left,
.about-me-right {
  position: relative;
}

.about-me-background-bottom {
  background-color: var(--cream);
  bottom: -1.5rem;
  height: 36.5rem;
  opacity: 0.9;
  position: absolute;
  right: 0;
  transform: rotate(-1deg);
  width: 40rem;
}

.about-me-background-top {
  background-color: var(--green);
  bottom: -1rem;
  height: 36.5rem;
  opacity: .3;
  position: absolute;
  right: 0;
  transform: rotate(5deg);
  width: 40rem;
}

.about-me-left {
  display: flex;
  margin: 2rem 1.5rem 0;
}

.about-me-image {
  width: 80%;
}

.about-me-image img {
  border-radius: 50%;
}

.about-me-contact {
  font-size: 1.4rem;
  padding-right: 4rem;
  text-align: right;
}

.about-me-contact a {
  color: var(--black);
  font-size: 1.4rem;
  text-decoration: none;
}

.about-me-contact a:first-child:after {
  content: " \007C ";
  position: relative;
}

.about-me-right {
  width: 88%;
}

.about-me-bio {
  padding: 1.5rem 2.8rem 0 0;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.tech p {
  font-size: 1.8rem;
  line-height: 3rem;
}

.bullet {
  margin: 0 .5rem;
}

.cases {
  display: flex;
  flex-wrap: wrap;
}

.case-card {
  margin: 2%;
  position: relative;
  text-align: center;
  width: 46%;
}

.case-card img:hover {
  filter: contrast(0) sepia(100%) hue-rotate(116deg) brightness(1.4) saturate(0.28);
}

.centered {
  color: white;
  display: none;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.case-card img:hover ~ .centered {
  display: block;
}
