.wrapper {
  display: flex;
  flex-direction: column;
}

.heading {
  border-bottom: .1rem solid var(--grey);
  margin-bottom: 6rem;
}

.heading h1 {
  font-size: 10rem;
  margin: 0 0 2rem 2rem;
}

.container {
  margin-bottom: 4rem;
}

.about-me {
  display: flex;
}

.about-me,
.about-me-left,
.about-me-right,
.skills {
  position: relative;
}

.about-me-background-bottom,
.about-me-background-top {
  bottom: -1.5rem;
  height: 36.5rem;
  position: absolute;
  right: 0;
  width: 40rem;
}

.about-me-background-bottom {
  background-color: var(--cream);
  opacity: 0.9;
  transform: rotate(-1deg);
}

.about-me-background-top {
  background-color: var(--green);
  opacity: .3;
  transform: rotate(5deg);
}

.about-me-left {
  display: flex;
  margin: 2rem 1.5rem 0;
}

.about-me-image {
  width: 80%;
}

.about-me-image img {
  border-radius: 50%;
}

.about-me-contact {
  font-size: 1.4rem;
  padding-right: 4rem;
  text-align: right;
}

.about-me-contact a {
  color: var(--black);
  font-size: 1.4rem;
}

.about-me-contact a:hover,
.about-me-contact a:focus {
  color: var(--pink);
}

.about-me-right {
  width: 88%;
}

.about-me-bio {
  padding: 1.5rem 2.8rem 0 0;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.tech p {
  font-size: 1.8rem;
  line-height: 3rem;
}

.bullet {
  margin: 0 .5rem;
}

.cases {
  display: flex;
  flex-wrap: wrap;
}

.case-card {
  margin: 2%;
  position: relative;
  text-align: center;
  width: 46%;
}

.case-card img:hover {
  filter: contrast(0) sepia(100%) hue-rotate(116deg) brightness(1.4) saturate(0.28);
}

.centered {
  color: white;
  display: none;
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.case-card img:hover ~ .centered {
  display: block;
}

.skill-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3.6rem;
  padding-left: 3rem;
}

.skill-list-wrapper h3 {
  font-family: Bitter, serif;
  text-transform: lowercase;
}

.skill-list {
  position: relative;
  width: 33.33%;
}

.skill-list li {
  padding-left: .3rem;
}

.skills-background-bottom,
.skills-background-top {
  bottom: 0;
  height: 29rem;
  position: absolute;
  left: -2rem;
  width: 60rem;
}

.skills-background-bottom {
  background-color: var(--cream);
  opacity: 0.9;
  transform: rotate(-2deg);
}

.skills-background-top {
  background-color: var(--green);
  opacity: .3;
  transform: rotate(4deg);
}
