a {
  text-decoration: none;
}

a:focus, a:hover {
  text-decoration: underline;
}

body {
  color: var(--black);
}

button {
  font-family: Nunito, sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
}

h1, h2 {
  font-family: Bitter, serif;
  text-transform: lowercase;
}

h2 {
  font-size: 3.6rem;
  margin-left: 1rem;
}

h3 {
  font-family: Nunito, sans-serif;
  font-size: 2rem;
}

h4 {
  color: var(--pink);
  font-family: Nunito, sans-serif;
  font-size: 1.6rem;
  font-style: italic;
  margin: .3rem 0 1rem;
}

img {
  height: auto;
  width: 100%;
}

a, li, p {
  font-family: Nunito, sans-serif;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

p, ul {
  margin-bottom: 2rem;
}

.page-container {
  margin: 10rem auto;
  width: 60rem;
}

.pink {
  color: var(--pink);
}

.purple {
  color: var(--purple);
}

@media screen and (max-width: 600px) {
  .page-container {
    margin: 3rem auto;
    width: 90%;
  }
}
